.container{
    justify-content: center;
    width: 100%;
    height: auto;
    display: inline-flex;
    /*background-color: yellow;*/
    /*background-color: lightgreen;*/
    margin-top: 90px;
}

body{
    background-image: url("/static/images/logo_CHC.png");
    background-size: 250px 100px;
    background-repeat: no-repeat;
    background-position: center top;
    /*background-attachment: fixed;*/
    height: 9px; /*100vh*/
    margin-top: -60px;
    /*background-color: orange;*/
}
html, body{
    height: 100%;
    margin-left: 55px;
}
/*.row{*/
/*    background-color: yellow;*/
/*}*/
@media only screen and (min-width: 540px){
    body{
    background-image: url("/static/images/logo_CHC.png");
    background-size: 588px 240px;
    background-repeat: no-repeat;
    background-position: center top;
    /*background-attachment: fixed;*/
    height: 9px; /*100vh*/
    margin-top: 55px;
    /*margin-left: 60px;*/
    }

    html, body{
        height: 100%;
        margin-left: -70px;
        /*background-color: lightblue;*/
    }
    html{
        margin-top: -60px;
        /*background-color: lightblue;*/
    }

    .row{
        width: 540px;
        /*justify-content: center;*/
        text-align: center;
        /*background-color: lightblue;*/
        /*margin-top: 80px;*/
        /*margin-left: 450px;*/
        /*margin-right: 300px;*/

    }
}

/*@import url(color.css) screen and (min-width: 1000px);*/
