.container{
    justify-content: center;
    width: 100%;
    height: auto;
    display: inline-flex;
    /*background-color: yellow;*/
}

body{
    /*background-color: red;*/
    background-image: url("/static/images/logo_CHC.png");
    background-size: 250px 100px;
    background-repeat: no-repeat;
    background-position: center top;
    /*background-attachment: fixed;*/
    height: 9px; /*100vh*/
    margin-top: 68px;
}
html, body{
    height: 100%;
    margin-left: -36px;
}

@media (max-width: 1080px) {
    body{
        /*background-color: red;*/
        background-image: url("/static/images/logo_CHC.png");
        background-size: 300px 120px;
        background-repeat: no-repeat;
        background-position: center top;
        /*background-attachment: fixed;*/
        height: 9px; /*100vh*/
        margin-top: 68px;
    }
    html, body{
        height: 100%;
        margin-left: -36px;
    }
}
