#border{
    border-radius:5%;
    width: 150px;
    height: 80px;
    padding: 12px;
    text-align: center;
    background: #000000;
    border: 2.5px solid #006446;
}
.call{
    color: #ff0000;
    text-align: center;
    font-size: 40px;
    font-family: 'Anton', sans-serif;
}