#border{
    border-radius:5%;
    width: 150px;
    height: 80px;
    padding: 12px;
    text-align: center;
    background: #000000;
    border: 2.5px solid #006446;
    margin-left: 96px;
}
.call{
    color: #ff0000;
    text-align: center;
    font-size: 40px;
    font-family: 'Anton', sans-serif;
}
.note{
    font-size: 14px;
    margin-top: 20px;
    width: 320px;
    margin-left: -90px;
    text-aligns: center;
}
/* #time_style{*/
/*    font-size: 14px;*/
/*    margin-top: 22px;*/
/*    width: 320px;*/
/*    text-aligns: center;*/
/*}*/
@media only screen and (min-width: 540px){
    #border{
    border-radius: 2.5%;
    width: 400px;
    height: 180px;
    padding: 10px;
    text-align: center;
    background: #000000;
    border: 5px solid #006446;
    }
    .call{
        color: #ff0000;
        text-align: center;
        font-size: 95px;
        font-family: 'Anton', sans-serif;
    }
    .title{
        font-size: 80px;
        margin-left: 8px;
    }
    .note{
        padding-top: 10px;
        font-size: 20px;
        margin-top: 20px;
        width: 600px;
        margin-left: 15px;
        text-align: center;
    }
}