{% extends 'base.html' %}
{% load static %}
{% block head %}
{#   <meta http-equiv="refresh" content="3">#}
   <link rel="stylesheet" href="{% static 'css/call.css' %}">

{% endblock %}
{% block content %}
<h1 class="title">線上叫號</h1>
{% for num in num_list %}
<div id="border" class="md-6">
    <span class="call" style="margin-bottom: 10px;"> {{ num.num }} </span>
</div>
    <div class="note" >為避免群聚，請依<strong> &uarr; </strong>叫號數字往<strong style="color:red; text-decoration: underline; text-decoration-color:red;text-decoration-thickness: 3px;"> 後5號內 </strong>再前往。<br/> 例：顯示12號，請13-17號至現場預備。</div>
{% endfor %}
<br/>

<h1 class="title">現場叫號</h1>
{% for onspotNum in onspotNum_list %}
<div id="border" class="md-6">
    <span class="call" style="margin-bottom: 10px;"> {{ onspotNum.onspot_num }} </span>

</div>

{% endfor %}
{#    {{ num.stamp }}#}

    <br/>
    <div id="time_style">
     <span style="font-size: 20px;">現在時間：</span> <span style="font-size: 20px;" id="time"></span>
{#        <span style="margin-top: 90px;">現在時間：</span> <span ></span>#}
     <div style="margin-top:5px;"><a href="{% url 'login' %}" class="top-menu">管理員登入<span class="glyphicon glyphicon-lock"></span></a></div>
    </div>

{#    <script type="text/javascript" src="{% static 'js/portal.js' %}"/>#}

    <script type="text/javascript" >
     const today = new Date();
    const currentHours = ("0" + today.getHours()).slice(-2);
    const currentMinutes = ("0" + today.getMinutes()).slice(-2);
    const time =currentHours +":"+ currentMinutes;
    p = document.getElementById("time")
    p.innerHTML = time

    //reload page
    setInterval(function(){
       window.location.reload();
    },3000);
    </script>




{% endblock %}