{% extends 'base.html' %}
{% load static %}
{% block head %}
   <meta http-equiv="refresh" content="3">
   <link rel="stylesheet" href="{% static 'css/call.css' %}">
{% endblock %}
{% block content %}
<h1>線上叫號</h1>
{% for num in num_list %}
<div id="border" class="md-6">
    <span class="call" style="margin-bottom: 10px;"> {{ num.num }} </span>
</div>
{% endfor %}
<br/>
<h1>現場叫號</h1>
{% for onspotNum in onspotNum_list %}
<div id="border" class="md-6">
    <span class="call" style="margin-bottom: 10px;"> {{ onspotNum.onspot_num }} </span>
</div>
{% endfor %}
{#    {{ num.stamp }}#}

    <br/>
     <span style="margin-top: 90px;">現在時間：</span> <span id="time"></span>
     <div style="margin-top:5px;"><a href="{% url 'login' %}" class="top-menu">管理員登入<span class="glyphicon glyphicon-lock"></span></a></div>

    <script type="text/javascript" src="{% static 'js/call.js' %}"/>

{% endblock %}